html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.grid {
  width: 100vw;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid_block {
  /* width: 50%; */
  max-width: 45rem;
  min-height: 11.25rem;
  padding: 1rem;
}

/* .image-grid {
      -webkit-transform: rotateX(15deg) rotateZ(15deg);
      transform: rotateX(15deg) rotateZ(15deg);
      -webkit-perspective: 1000px;
      perspective: 1000px;
    }
    
    .image-grid:hover {
      -webkit-transform: rotateX(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateZ(0deg);
      -webkit-perspective: 1000px;
      perspective: 1000px;
    } */

.image_grid .tile_link:hover .tile_img {
  top: -1rem;
  left: -1rem;
}

.image_grid .tile_img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
}

.tile_link {
  display: block;
}

.tile_link:hover .tile_img {
  opacity: 1;
}

.tile_link:hover .tile_img_link {
  display: block;
}

.tile_link:hover .tile_img_link:hover .tile_img {
  opacity: 0.5;
}

.tile_img {
  border: 2px inset gray;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  margin-top: 30px;
  margin-bottom: 75px;
}
.tile_link:hover .tile_img1 {
  box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
    10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
    20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
}

.btn_box {
  text-align: center;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  margin-bottom: 145px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  box-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
    0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
  color: #146c80;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
    0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
  color: #28d7fe;
}
