@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  top: 0;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.text_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading_primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading_primary_main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 45px;
  margin-bottom: 40px;

  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;

  /* animation-delay: 3s;
      animation-iteration-count: 3; */
}

.heading_primary_sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  margin-bottom: 40px;

  animation: moveInRight 3s ease-out;
}

h1 {
  animation: flux 7s linear infinite;
  -moz-animation: flux 7s linear infinite;
  -webkit-animation: flux 7s linear infinite;
  -o-animation: flux 7s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  box-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
    0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
  color: #146c80;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
    0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
  color: #28d7fe;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn_white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn_white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}

.btn_animated {
  animation: moveInBottom 3s ease-out 0.32s;
  animation-fill-mode: backwards;
}

@media (max-width: 767px) {
  .heading_primary_main {
    display: block;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 25px;
    margin-bottom: 20px;

    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    /* animation-delay: 3s;
        animation-iteration-count: 3; */
  }

  .heading_primary_sub {
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 12px;
    margin-bottom: 40px;

    animation: moveInRight 3s ease-out;
  }
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 7.5px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    box-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}
